
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


/* Reset some default styles for better consistency */
body, h1, h2, h3, p, ul, ol, li {
    margin: 0;
    padding: 0;
}

/* Set the Inter font for the entire document */
body {
    font-family: 'Inter', sans-serif;
}